@model TRIPEXPENSEREPORT.Models.LoginModel
@{
    Layout = "";
}
<br />
<br />
<br />
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="Style" />
</head>
<body style="background-size:100%;background-repeat:no-repeat;background-image:url('@Url.Content("~/images/background.png")');" class="margin:1px 1px 1px 1px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron offset-md-3" style="background-color: white ;width:380px;height:450px; border-radius:5px;border-style:solid;border-color:#888888;border-width:0px;box-shadow:3px 3px 15px 3px #888888">
                <form role="form" asp-action="Login" asp-controller="Account" method="post">

                    <!-- Image : Logo TE Report -->
                    <div class="text-center form-group" style="margin-top:-10px">
                        <img src="~/images/logo_te_wbg.png" style="height:150px;padding-right:5px; justify-items:center" />
                    </div>

                    <!-- Entry : Username -->
                    <div class="form-group" style="margin-top:30px">
                        @*<label for="Login" style="color:white;font-size:medium">User Name</label>*@
                        <input type="text" name="User" asp-for="user" autocomplete="on" class="form-control input-sm" placeholder="Username" style="letter-spacing:1px;">
                        <span asp-validation-for="user" class="text-danger"></span>
                    </div>

                    <!-- Entry : Password -->
                    <div class="form-group">
                        @*<label for="Password" style="color:white;font-size:medium">Password</label>*@
                        <input type="password" name="Password" asp-for="password" autocomplete="off" class="form-control input-sm" placeholder="Password" style="letter-spacing:1px">
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <!-- Btn : Login -->
                    <div style="margin-top:40px">
                        <input type="submit" value="Login" class="btn btn-info btn-block" style="background-color: #2178BE;border-radius:10px; letter-spacing:3px; box-shadow:0px 4px 10px 0px #AAAAAA">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <partial name="Scripts" />
</body>
</html>