<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Labor Appearance Active Time</title>
    <partial name="Style" />
    <style>
        .late {
            background-color: red;
        }

        .kanit-thin {
            font-family: "Kanit", sans-serif;
            font-weight: 100;
            font-style: normal;
        }

        .kanit-extralight {
            font-family: "Kanit", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        .kanit-light {
            font-family: "Kanit", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .kanit-regular {
            font-family: "Kanit", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .kanit-medium {
            font-family: "Kanit", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .kanit-semibold {
            font-family: "Kanit", sans-serif;
            font-weight: 600;
            font-style: normal;
        }

        .kanit-bold {
            font-family: "Kanit", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .kanit-extrabold {
            font-family: "Kanit", sans-serif;
            font-weight: 800;
            font-style: normal;
        }

        .kanit-black {
            font-family: "Kanit", sans-serif;
            font-weight: 900;
            font-style: normal;
        }

        .kanit-thin-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 100;
            font-style: italic;
        }

        .kanit-extralight-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 200;
            font-style: italic;
        }

        .kanit-light-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 300;
            font-style: italic;
        }

        .kanit-regular-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .kanit-medium-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 500;
            font-style: italic;
        }

        .kanit-semibold-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 600;
            font-style: italic;
        }

        .kanit-bold-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 700;
            font-style: italic;
        }

        .kanit-extrabold-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 800;
            font-style: italic;
        }

        .kanit-black-italic {
            font-family: "Kanit", sans-serif;
            font-weight: 900;
            font-style: italic;
        }

        .scrollable-table {
            max-height: 400px;
            overflow-y: auto;
            overflow-x: auto;
            display: block; /* ช่วยให้เลื่อนได้ดีขึ้น */
        }

            .scrollable-table table {
                width: 100%; /* ตรวจสอบว่าเทเบิลเต็มความกว้างของ Container */
            }

            .scrollable-table thead th {
                position: sticky;
                top: 0;
                background-color: #2178BE; /* เก็บหัวตารางให้คงที่ */
                color: white;
                z-index: 1;
            }

        .modal.fade .modal-dialog {
            transition: transform 0.2s ease-out;
            transform: translate(0, -50px);
        }

        .modal.show .modal-dialog {
            transform: translate(0, 0);
        }

        .clickable-row {
            cursor: pointer;
        }

            .clickable-row:hover {
                background-color: #f5f5f5; /* ไฮไลต์เมื่อชี้ (ตัวเลือก) */
            }


    </style>
</head>
<body class="layout-fixed layout-top-nav layout-footer-fixed">
    <div class="wrapper">
        <partial name="_Header" />
        @*<partial name="_Sidebar" />*@
        <div class="content-wrapper">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <partial name="Footer" />
    </div>
    <partial name="Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>